.navbar {
    background: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(10px);
}

.navbar-brand {
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #fff !important;
}

.nav-link {
    transition: all 0.3s ease;
    color: white !important;
}

    .nav-link:hover {
        color: #ffdd59 !important;
        transform: scale(1.1);
    }
